*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background-color: ffffff;
}
.border{
    border: solid #27a0b0 3px;
    background-color: #dcefff;
    margin-bottom: 12.4%;
    border-radius: 2.5%;
    margin-right: 33%;
    margin-left: 32%;
    margin-top: 6%;
    height: 75vh;
}

#logo{
    justify-content: center;
    height: 40vh;
    width: 70%;
}
#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    margin-right: 28%;
    color: rgb(6, 6, 6);
    display: flex;
    
}
.format-form{
    justify-content: center;
    display: grid;
    width:120%;
}
form{
    margin-right: 150px;
    display: grid;
    width: 75%;
}
input{
    border: solid #27a0b0 3px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 2.5%;
    margin-top: 1.5%;
    outline: none;
    height: 4vh;
    width: 20vw;
}
label{
    font-weight: 400;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
.senha-container {
    align-items: center;
    position: relative;
    max-width: 96%;
    display: flex;
}
  #senha {
    width: 100%;
    padding-right: 40px; /* espaço para o botão */
  }
.toggle-senha {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #555;

}
.voltar-cadastro{
    justify-content: center;
    margin-bottom: 6.5%;
    margin-right: 50%;
    font-size: 101%;
    margin-top: 10%;
    display: flex;
}
p{
    color: rgb(0, 0, 0);
    margin-right: 5px;
}
a{
    color: #1d4574;  
}
a:hover{
    color: rgb(22, 173, 211);
    text-decoration:underline;
    transition: 0.2s;
}
#enviar{
    background-color: white;
    border: solid #27a0b0;
    justify-content: center;
    border-radius: 15px;
    margin-left: 15%;
    font-weight:600;
    margin-top: 3.5%;
    height: 110%;
    width: 15vw;
}
#enviar:hover{
    background-color:#9C27B0;
    color: rgb(255, 253, 253);
    border: solid white 5%;
    transition: 0.2s;
}
/* Para celulares */
@media(max-width:768px){
    .border{
        justify-content: center;
        margin-left: 10%;
        margin-top: 20%;
        display: flex;
        height: 110%;
        width: 80%;
    }
    #logo{
        justify-content: center;
        height: 50%;
        width: 100%;
    }
    #title{
        justify-content: center;
        margin-right: 3%;
        font-size:130%;
        display: flex;
    }
    label{
        justify-content: left;
        margin-left: 45px;
        display: flex;
    }
    input{
        justify-content: center;
        border: solid white;
        margin-left: 45px;
        display: flex;
        border: solid;
        width: 100%;
    }
    .voltar-cadastro{
        justify-content: center;
        margin-left: 20%;
        margin-top: 5%;
        display:flex;
        width: 110%;
    }


}
/* Ipad MINI */
@media (min-width: 600px) and (max-width: 1024px){
    .border{
        margin-left: 18%;
        margin-top:4% ;
        height: 10%;
        padding: 2%;
    }
    #logo{
        margin-left: 5px;
        height: 40vh;
        width: 45vw;
    }
    #title{
        justify-content: center;
        margin-right: 5%;
        font-size:200%;
        display: flex;
    }
    label{
        font-size: larger;
        font-size: large;
    }
    input{
        justify-content: center;
        padding: 10px 120px;
        margin-right: 30px;
        color: white;
        display: flex;
    }
    .voltar-cadastro{
        margin-right: 25px;
        font-size: larger;
    }
    .image{
        display: none;
    }
}
/* Para tablets  */
    @media (min-width: 800px) and (max-width: 1280px){

    .back-image{
        height: 115vh;
    }
    body{
        justify-content: center;
        display: flex;
    }
    .border{
        justify-content: center;
        border-radius: 30px;
        margin-top: 70px;
        display: flex;
        width: 60%;
    }
    .format-form{
        justify-content: center;
        display: flex;
    }
    #logo{
        justify-content: center;
        display: flex;
        height: 50vh;
        width: 100%;
    }
    label{
        font-size: x-large;
        margin-left: 24%;
    }
    input{
        margin-left: 130px;
        border: solid;
    }
    .voltar-cadastro{
        margin-left: 5%;
        font-size: x-large;
    }
    }
